review from Mark Nottingham

Hi,

I just found this draft, apologies for the late feedback. A few things I noticed:

* The media types appear to define a new facet (as per <http://tools.ietf.org/html/rfc6838#section-4.2>). Is it really the intent of the WG to define a new registration tree, and has this been discussed on the media-types list?

* You need to refer to RFC7159, not 7158.

* You need to refer to RFC723[0-5], not 2616.

* There are some inappropriate requirements placed upon using PATCH with this media type; e.g.,

""If a YANG Patch is completed without errors, the server MUST return a "200 OK" status-line, and a response message-body containing a "yang-patch-status" message."""

PATCH doesn't require a specific response status code or response content, and there are various use cases where changing this might be good -- even for YANG.

It's fine to say that in a particular use case the server needs to behave in a particular fashion, but this shouldn't be part of the media type specification. In general, the document seems to blur the definition of the media type -- which should be as generic as possible -- and the specific use case for it. These should be separate; ideally, in separate documents, but at least crisply defined if in the same document.

* """The RESTCONF server MUST return the Accept-Patch header in an OPTIONS response""" - same as above

* """All the specified edits MUST be applied or the target datastore contents MUST be returned to its original state before the PATCH method started.""" - This seems like a restatement of the atomicity requirements in Section 2 of RFC5789.

Cheers,


updated references in github version
bullet 1 + PATCH issues still TBD


tried to address all issues and redid media type IANA sections


closed in draft 10
